*
{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

/* Start of navigation bar styling */
header
{
    padding-bottom: 100px;
    background-color: #f2adad;
}

#bar
{
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    align-items: center;
    position: fixed;
    background-image:linear-gradient(90deg, #e48282, #a058c9);
    list-style: none;
    box-shadow: 0 -6px 15px 10px rgba(0, 0, 0, 0.5);
}

#logo
{
    margin-left: 0.5vw;
    width: 8vw;
    padding: 2px 0px 2px 0px;
}

#title-button
{
    color: white;
    text-decoration: none;
    margin-left: -15vw;
    margin-right: -5vw;
}

#title-button p
{
    font-size: 35px;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 4px;
}

.nav-link
{
    color: black;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    padding-right: 3vw;
}

#selected, .nav-link:hover
{
    color: white;
}

::-webkit-scrollbar 
{
    width: 11px;
}

/* Track */
::-webkit-scrollbar-track 
{
    box-shadow: inset 0 0 4px rgb(32, 28, 28);
    border-radius: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb 
{
    background-image: linear-gradient(#7225dd, #b27cd2);
    border-radius: 100px;
}
/* End of navigation bar styling */

/* Appies gradient to background of page */
main 
{
    background-image:linear-gradient(#e48282, #a058c9);
}

/* Styling for Founders header */
#founders
{
    background: #f2bb06;
    border-bottom: black solid;
    border-width: 7px;
    font-size: 50px;
    text-decoration: underline;
    padding: 30px;
}

/* Fits 2 people in the same row */
#first-row, #second-row
{
    display: flex;
}

/* Left and right spacers */
#left-gap, #right-gap
{
    flex: 1;
}

/* Spacer between people */
#inbetween
{
    flex: 0.5;
}

/* Size of person's bio */
#siddarth, #pranav, #praveen, #hannah
{
    flex: 2;
}

main img
{
    border: black solid;
    border-width: 8px;
    border-radius: 8px;
    width: 25vw;
}

main h2
{
    font-size: 30px;
    text-decoration: underline;
    padding: 10px;
}

main p
{
    font-size: 18px;
    line-height: 30px;
}

#bottom-content
{
    border-top: black solid;
    border-width: 5px;
    height: 50vh;
    background-color:#983dcd;
    display: flex;
}

#bottom-content #left-gap, #bottom-content #right-gap
{
    flex: 2.5;
}

#left-column, #center-column, #right-column
{
    flex: 10;
}

#bottom-content h1
{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 50px;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 55px;
    padding-bottom: 20px;
}

#bottom-content p
{
    color: white;
    text-align: left;
    line-height: 30px;
    font-weight: 400;
}

#bottom-content a
{
    color: white;
}

#bottom-content h2
{
    color:white;
    font-size: 35px;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 65px;
    padding-bottom: 20px;
    text-decoration: underline;
}

#left-column, #center-column, #right-column
{
    text-align: left;
}

#left-column a
{
    padding-top: 50px;
}

#center-column
{
    margin-left: 10vw;
}

#center-column ul
{
    list-style: none;
    text-align: left;
    margin-left: 10px;
}

#center-column li
{
    text-align: left;
    line-height: 30px;
    font-size: 18px;
}

#center-column a
{
    text-decoration: none;
}

#right-column #signup
{
    margin-left: -255px;
}

input
{
    border: black solid;
    border-width: 4px;
    border-radius: 5px;
    padding: 10px;
}

::placeholder
{
    font-size: 16px;
    color: black;
}

#right-column button
{
    background-color: #efc4a5;
    padding: 7px;
    border: black solid;
    border-width: 4px;
    border-radius: 5px;
    font-weight: 600;
}